{:paths ["src"]
 :deps
 {
  cheshire {:mvn/version "5.5.0"}
  clj-http {:mvn/version "2.0.0"}
  clojurewerkz/urly {:mvn/version "1.0.0"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  uritemplate-clj {:mvn/version "1.1.1"}
  }
 :aliases
 {
  }}
