{:paths ["src"]
 :deps
 {
  cheshire/cheshire {:mvn/version "5.10.2"}
  clj-http/clj-http {:mvn/version "3.12.3"}
  clojurewerkz/urly {:mvn/version "1.0.0"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  uritemplate-clj/uritemplate-clj {:mvn/version "1.3.1"}
  }
 :aliases
 {
  }}
